<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/handle-elements.css">
    <title>RoboRace Tests - Signup</title>
</head>
<body class="home">
    <div class="container login-container d-flex align-items-center" style="margin-top:5%">
        <!--- START DECK-->
        <div class="container home-bg">
            <div class="row no-gutters">
                <div class="col-12">
                    <img class="tile-bg mx-auto d-block" src="/img/logo.png" alt="">
                </div>
            </div>
            <div class="row no-gutters">
                <div class="container login-inner-container">
                    <div class="col-12 text-center login">
                        <form id="signup-form">
                            <div class="form-group">
                              <input type="email" name="email" class="form-control" placeholder="Username" onfocus="this.placeholder=''" onblur="this.placeholder='Username'">
                            </div>
                            <div class="form-group">
                              <input type="password" class="form-control"  placeholder="Password" onfocus="this.placeholder=''" onblur="this.placeholder='Password'">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Repeat password" onfocus="this.placeholder=''" onblur="this.placeholder='Repeat Password'">
                            </div>
                            <a href="javascript:$('#signup-form').submit();"><img class="login-btn d-block mx-auto" style="margin-bottom:15px" src="/img/btn/btn-signup.png" alt=""></a> 
                            <p class="" style="margin-bottom:0">Already have an account? <a href="/login.html" class="a-login">Login</a></p> 
                            <br>
                        </form>
                    </div>
                </div>
            </div>
                   
        </div>

        <!--- END DECK-->
    </div>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
    <script type="text/javascript">
        $(document).ready(function () {
            $(".gameCard").mouseenter(function () {
                $(this).css('-webkit-filter', 'drop-shadow(0 0 2px #0f0)');
                console.log('mouse on')
            });
            $(".gameCard").mouseleave(function () {
                $(this).css('box-shadow', 'none');
            });
        })
    </script> -->
    
</body>
</html>